/* login.css */

/* Container styling */
h1{padding-left:400px;}


form {
    max-width: 410px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 200px;
  }
  
  /* Input field styling */
  div {
    margin-bottom: 15px;
    margin-right: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #007bff;
  }
  
  input[type="text"],
  input[type="password"] {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
  }
  
  /* Button styling */
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Add more styles as needed */
  /* Add this CSS to your login.css file */
.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  a{  /* Remove underline */
    color: #007bff; /* Change link color to blue (you can use your preferred color) */
    box-shadow: none;
    
    /* Optional: Add some margin to the link */
    margin-left: 10px;
  }
  .create-account{padding-left: 460px;}
  .reviews-section {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.reviews-section div {
    margin-bottom: 10px;
}
.error-message{color: #e46262;}